<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> 0379990216</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> 51T Quận 6</a></li>
            </ul>
            <%if (typeof user === 'undefined' || user == null){%>
                <ul class="header-links pull-right">
                    <li><a href="/user/register"><i class="fa fa-plus"></i>Đăng ký</a></li>
                    <li><a href="/user/login"><i class="fa fa-sign-in"></i>Đăng nhập</a></li>
                </ul>
                <%} else {%>
                    <ul class="header-links pull-right">
                        <p style="display:inline; color:#ffffff; padding-right: 8px;"> Xin chào </p>
                        <li><a href="/user/profile"><i class="fa fa-user-o"></i><%=user.fullname%></a></li>
                        <form action="/user/logout" method="get">
                            <button type="submit">Đăng xuất</button>
                        </form>
                    </ul>
                    <%}%>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="/" class="logo">
                            <img src="./img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->
                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form>
                            <input class="input" placeholder="Tìm kiếm sản phẩm">
                            <button class="search-btn">Tìm</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->
                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Cart -->
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Giỏ hàng</span>
                                <div class="qty">3</div>
                            </a>
                            <div class="cart-dropdown">
                                <div class="cart-list">
                                    <div class="product-widget">
                                        <div class="product-img">
                                            <img src="./img/product01.png" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">laptop asus rog strix g g531gd-al025t</a></h3>
                                            <h4 class="product-price"><span class="qty">1x</span>$32.000.000đ</h4>
                                        </div>
                                        <button class="delete"><i class="fa fa-close"></i></button>
                                    </div>

                                    <div class="product-widget">
                                        <div class="product-img">
                                            <img src="./img/product02.png" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">Tai nghe On-ear Sony MDRZX310APBCE (Đen)</a></h3>
                                            <h4 class="product-price"><span class="qty">2x</span>340.000đ</h4>
                                        </div>
                                        <button class="delete"><i class="fa fa-close"></i></button>
                                    </div>
                                </div>
                                <div class="cart-summary">
                                    <small>Có 4 sản phẩm</small>
                                    <h5>Tổng: 75.245.000đ</h5>
                                </div>
                                <div class="cart-btns">
                                    <a href="/cart">Giỏ hàng</a>
                                    <a href="/checkout">Thanh toán  <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- /Cart -->
                    </div>
                </div>
                <div class="mainmenu">
                    <div class="row">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li class="dropdown"><a href="#">Loại<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="/store/type=Laptop&page=1">Laptop</a></li>
                                    <li><a href="/store/type=Tivi&page=1">Tivi</a></li>
                                    <li><a href="/store/type=Dienthoai&page=1">Điện thoại</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Laptop<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="/store/type=Laptop&brand=Apple&page=1">Apple</a></li>
                                    <li><a href="/store/type=Laptop&brand=Asus&page=1">Asus</a></li>
                                    <li><a href="/store/type=Laptop&brand=Dell&page=1">Dell</a></li>
                                    <li><a href="/store/type=Laptop&brand=HP&page=1">HP</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Tivi<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="/store/type=Tivi&brand=LG&page=1">LG</a></li>
                                    <li><a href="/store/type=Tivi&brand=Sony&page=1">Sony</a></li>
                                    <li><a href="/store/type=Tivi&brand=Panasonic&page=1">Panasonic</a></li>
                                    <li><a href="/store/type=Tivi&brand=Samsung&page=1">Samsung</a></li>
                                    <li><a href="/store/type=Tivi&brand=Toshiba&page=1">Toshiba</a></li>
                                    <li><a href="/store/type=Tivi&brand=Asanzo&page=1">Asanzo</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Điện thoại<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="/store/type=Dienthoai&brand=Apple&page=1">Apple</a></li>
                                    <li><a href="/store/type=Dienthoai&brand=Xiaomi&page=1">Xiaomi</a></li>
                                    <li><a href="/store/type=Dienthoai&brand=Huawei&page=1">Huawei</a></li>
                                    <li><a href="/store/type=Dienthoai&brand=Samsung&page=1">Samsung</a></li>
                                    <li><a href="/store/type=Dienthoai&brand=Vivo&page=1">Vivo</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>

<script src="vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="vendors/skrollr.min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="vendors/jquery.ajaxchimp.min.js"></script>
<script src="vendors/mail-script.js"></script>
<script src="js/main.js"></script>