<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> 0379990216</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> 51T Quận 6</a></li>
            </ul>
            <%if (typeof user === 'undefined' || user == null){%>
                <ul class="header-links pull-right">
                    <li><a href="/user/register"><i class="fa fa-plus"></i>Đăng ký</a></li>
                    <li><a href="/user/login"><i class="fa fa-sign-in"></i>Đăng nhập</a></li>
                </ul>
                <%} else {%>
                    <ul class="header-links pull-right">
                        <p style="color:#ffffff; display: inline; margin-right: 8px;"> Chào
                        </p>
                        <li><a href="/user/profile?username=<%=user.username%>"><i class="fa fa-user-o"></i><%=user.username%></a></li>
                        <form action="/user/logout" method="post" style="display:inline; padding-left: 16px; ">
                            <button type="submit "><i class="fa fa-sign-out " aria-hidden="true" style="margin-right: 8px;"></i>Đăng xuất</button>
                        </form>
                    </ul>
                    <%}%>
        </div>
    </div>
    <!-- /TOP HEADER -->


    <!-- MAIN HEADER -->
    <div id="header" style="padding:0px">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="/" class="logo">
                            <img src="./img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->
                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form action="/store/filter" method="get">
                            <input class="input" name="key" placeholder="Tìm kiếm sản phẩm">
                            <button class="search-btn">Tìm</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->
                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Cart -->
                        <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Giỏ hàng</span>
                                <div id="header-qty" class="qty"></div>
                            </a>
                            <div class="cart-dropdown">
                            </div>
                            <!-- /Cart -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav id="navigation" style="margin-bottom: 0px;">
            <!-- container -->
            <div class="container">
                <!-- responsive-nav -->
                <div id="responsive-nav">
                    <!-- NAV -->
                    <ul class="main-nav nav navbar-nav">
                        <li id="home"><a href="/">Home</a></li>
                        <li id="store"><a href="/store/filter?Type=All">Cửa hàng</a></li>
                    </ul>
                    <!-- /NAV -->
                </div>
                <!-- /responsive-nav -->
            </div>
            <!-- /container -->
        </nav>
</header>

<script src="vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="vendors/skrollr.min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="vendors/jquery.ajaxchimp.min.js"></script>
<script src="vendors/mail-script.js"></script>
<script src="js/main.js"></script>
<script>
    var currentHref = window.location.href
    if (currentHref.includes('store')) {
        nav = document.getElementById("store")
        nav.setAttribute("class", "active")
    } else {
        nav = document.getElementById("home")
        nav.setAttribute("class", "active")
    }
</script>
<%if (typeof user === 'undefined' || user == null){%>
    <script type="text/javascript">
        $(function() {
            if (localStorage.cart) {
                var cart = JSON.parse(localStorage.cart)
                var payload = []
                for (var productid in cart) {
                    var obj = {}
                    obj['productid'] = productid
                    obj['quantity'] = cart[productid].quantity
                    payload.push(obj)
                }
                $.post("/cart/import", {
                    items: payload
                }, function() {
                    localStorage.clear()
                    document.location.reload()
                });
            } else {
                $.get("/cart/count", function(cartcount) {
                    $("#header-qty").html(cartcount)
                });
                $.get("/cart/subview", function(subview) {
                    $(".cart-dropdown").html(subview)
                });
            }
        });
    </script>
    <% } else { %>
        <script type="text/javascript">
            $(function() {
                if (!localStorage.cart) {
                    $("#header-qty").html(0)
                    $(".cart-dropdown").html("<div>Empty cart</div>")
                } else {
                    var cart = JSON.parse(localStorage.cart)
                    $("#header-qty").html(Object.keys(cart).length)
                    var htmlString = ""
                    for (var productid in cart) {
                        item = cart[productid]
                        htmlString += '<div class="cart-list">'
                        htmlString += '<div class="product-widget">'
                        htmlString += '<div class="product-img">'
                        htmlString += '<img src="' + item.picture + '">'
                        htmlString += '</div>'
                        htmlString += '<div class="product-body">'
                        htmlString += '<h3 class="product-name"><a href="#">' + item.name + '</a></h3>'
                        htmlString += '<h4 class="product-price"><span class="qty">' + item.price + 'x</span>'
                        htmlString += item.quantity
                        htmlString += '</h4>'
                        htmlString += '</div>'
                        htmlString += '</div>'
                        htmlString += '</div>'
                    }
                    htmlString += '<div class="cart-summary">'
                    htmlString += '<small>Có ??? sản phẩm</small>'
                    htmlString += '<h5 id="sumsum">Tổng: 75.245.000đ</h5>'
                    htmlString += '</div>'
                    htmlString += '<div class="cart-btns">'
                    htmlString += '<a href="/user/login">Giỏ hàng</a>'
                    htmlString += '<a href="/user/login">Thanh toán  <i class="fa fa-arrow-circle-right"></i></a>'
                    htmlString += '</div>'
                    $(".cart-dropdown").html(htmlString)
                }
            });
        </script>
        <% } %>