<!DOCTYPE html>
<html>

<head>
    <title>Password Reset</title>
</head>

<body>
    <div>
        <h3>Dear
            <%=name%>,</h3>
        <p>Bạn đã yêu cầu cập nhật lại mật khẩu. Hãy theo <a href="<%=url%>">đường dẫn này</a> để reset mật khẩu.</p>
        <br>
        <div>
            Cheers!
        </div>
    </div>

</body>

</html>